.a{
    margin-left: 200px;
    margin-top: -80px;

}
.b{
    text-decoration: line-through;
    margin-top: 50px;
}
.c{
    margin-top: 400px;
    margin-right: -1800px;
}
.d{
    margin-top: 400px
}