.a{
    margin-left: 550px;
    margin-top: -250px;
}
.b{
    margin-left: 670px;
    margin-top: 30px;
    font-size: 22px;
}
.d{
    margin-left: 740px;
    margin-top: 30px;
    font-size: 22px;
}
.v{
    color: white;
    background: linear-gradient(90deg, #1f1, #1f1fff);
}