.a{
    margin-left: 600px;
    margin-top: -130px;
}
.b{
    margin-left: 400px;
    margin-top: -130px;
}
.c{
    margin-left: 800px;
    margin-top: -150px;
}
.e{
    margin-left: 100px;
}
.f{
    margin-left: 80px;
}
.g{
    margin-left: -60px;
}
.h{
    margin-left: 150px;
}
.j{
    margin-left: 50px;
}
.k{
    margin-top: 250px;
    margin-right: -2000px;
}
.l{
    margin-top: 250px;
    margin-right: -200px;
}